@model IEnumerable<SoccerWebApp.Models.Prediction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.predictionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipster.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Tipster.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Tipster.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.matchOutcome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.predictionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipster.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipster.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipster.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.MatchName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.matchOutcome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PredictionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PredictionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PredictionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
